.h1 {
    text-align: center;
    color: #3799FE;
}

.yaziBasligi {
    text-align: center;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }